<div class="game">
    @if ((cardOne$ | async) && (cardTwo$ | async)) {
    <div>
        <app-card [name]="'Player 1'" [entity$]="cardOne$"></app-card>
    </div>
    <div>
        <app-card [name]="'Player 2'" [entity$]="cardTwo$"></app-card>
    </div>
    <div class="game__button">
        <button mat-flat-button color="primary" (click)="fetchCards(defaultEntityType)">Play Again</button>
    </div>

    } @else {
    <mat-spinner></mat-spinner>
    }
</div><app-entity-switcher (entityChanged)="fetchCards($event)"></app-entity-switcher>