@if (entity$ | async; as entity) {
    <mat-card class="entity-card" data-test-id="card-container">
      <mat-card-header>
        <mat-card-title data-test-id="card-name">{{name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="entity-card__attributes-grid" data-test-id="card-list">
          @for (item of entityListItems; track $index) {
            <li>{{item}}</li>
          }
        </ul>
      </mat-card-content>

    </mat-card>
  } @else {
    <mat-spinner></mat-spinner>
  }
